<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>GetListCategoryController</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.category.GetListCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListCategoryController</servlet-name>
        <url-pattern>/admin/categories/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateCategoryController</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.category.CreateCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCategoryController</servlet-name>
        <url-pattern>/admin/categories/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.category.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/admin/categories/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCategoryController</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.category.DeleteCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategoryController</servlet-name>
        <url-pattern>/admin/categories/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListProductController</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.product.GetListProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListProductController</servlet-name>
        <url-pattern>/admin/products/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.product.CreateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/admin/products/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.product.UpdateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/admin/products/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.product.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/admin/products/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListProductOnSell</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.restaurant.GetListProductOnSell</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListProductOnSell</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowShoppingCart</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.restaurant.shoppingcart.ShowShoppingCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowShoppingCart</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductToCart</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.restaurant.shoppingcart.AddProductToCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductToCart</servlet-name>
        <url-pattern>/carts/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProductFromCart</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.restaurant.shoppingcart.UpdateProductFromCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductFromCart</servlet-name>
        <url-pattern>/carts/update-product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProductFormCart</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.restaurant.shoppingcart.DeleteProductFormCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductFormCart</servlet-name>
        <url-pattern>/carts/delete-from-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterAccount</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.accounts.RegisterAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAccount</servlet-name>
        <url-pattern>/accounts/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginAccount</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.accounts.LoginAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAccount</servlet-name>
        <url-pattern>/accounts/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutAccount</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.accounts.LogoutAdminAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutAccount</servlet-name>
        <url-pattern>/accounts/admin-logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutUserAccount</servlet-name>
        <servlet-class>com.example.assignmentjspservlet.controller.accounts.LogoutUserAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutUserAccount</servlet-name>
        <url-pattern>/accounts/user-logout</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.example.assignmentjspservlet.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.example.assignmentjspservlet.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
</web-app>